html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

source {
  height: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/* For testing only */
*:not(body):not(html) {
  box-sizing: border-box; }

/* End for testing */
/**
 * Basic styles for links
 */
a {
  color: black;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: red;
    text-decoration: underline; }

section {
  padding: 2em 0;
  border-top: 1px solid black; }

p {
  font-size: 0.8em;
  padding: 1em;
  background-color: #f7f7f7; }

h2 {
  padding-left: .5em;
  background-color: black;
  color: white;
  font-size: 1.2em; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Georgia", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", serif;
  background-color: #f2f2f2; }

/**
 * Clear inner floats
 */
section::after, footer::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 68em;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 Placeholder Variables
 */
.featured__header, .month__header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: red;
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold; }
  .featured__header:last-child, .month__header:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .featured__header, .month__header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .featured__header:last-child, .month__header:last-child {
        margin-right: 0; } }

.featured__article, .month__content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .featured__article:last-child, .month__content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .featured__article, .month__content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .featured__article:last-child, .month__content:last-child {
        margin-right: 0; } }

.featured__article .first-row, .month .first-row .month__primary, .month .first-row .month__secondary {
  height: 300px; }
  @media screen and (min-width: 768px) {
    .featured__article .first-row, .month .first-row .month__primary, .month .first-row .month__secondary {
      height: 350px; } }
  @media screen and (min-width: 1024px) {
    .featured__article .first-row, .month .first-row .month__primary, .month .first-row .month__secondary {
      height: 450px; } }

.month .first-row .month__primary {
  border: 1px solid black;
  margin-bottom: 1em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .month .first-row .month__primary:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .month .first-row .month__primary {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .month .first-row .month__primary:last-child {
        margin-right: 0; } }

.month .first-row .month__secondary {
  border: 1px solid black;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .month .first-row .month__secondary:last-child {
    margin-right: 0; }
  .month .first-row .month__secondary .month__secondary__image {
    display: none; }
  @media screen and (min-width: 768px) {
    .month .first-row .month__secondary {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .month .first-row .month__secondary:last-child {
        margin-right: 0; }
      .month .first-row .month__secondary .month__secondary__image {
        display: block; } }

.month .second-row .month__other {
  border: 1px solid black;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .month .second-row .month__other:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .month .second-row .month__other {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .month .second-row .month__other:last-child {
        margin-right: 0; } }

.featured__article__comment button {
  height: 35px;
  font-size: 0.7em;
  background-color: #b0b0b0; }

.featured__header .previous, .month__header .previous {
  font-size: 0.8em;
  margin-top: 3em;
  display: none; }
  @media screen and (min-width: 768px) {
    .featured__header .previous, .month__header .previous {
      display: block; } }
  .featured__header .previous ul, .month__header .previous ul {
    margin-top: 1em; }
    .featured__header .previous ul li, .month__header .previous ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .featured__header .previous ul li:last-child, .month__header .previous ul li:last-child {
        margin-right: 0; }

.page {
  width: 95%;
  margin: auto;
  max-width: 1200px; }

.featured__article {
  border: 1px solid black; }
  .featured__article .first-row {
    display: block; }
    .featured__article .first-row::after {
      clear: both;
      content: "";
      display: table; }
  .featured__article__image {
    background: url("../img/jack.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%; }
  .featured__article__comment {
    margin-top: 1em; }
    .featured__article__comment textarea {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .featured__article__comment textarea:last-child {
        margin-right: 0; }
    .featured__article__comment button {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      font-size: 1em; }
      .featured__article__comment button:last-child {
        margin-right: 0; }
    .featured__article__comment label {
      font-weight: bold; }

.month .first-row {
  display: block; }
  .month .first-row::after {
    clear: both;
    content: "";
    display: table; }
  .month .first-row .month__primary {
    overflow: hidden; }
    .month .first-row .month__primary__image {
      background: url("../img/jack.jpeg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 65%; }
    .month .first-row .month__primary p {
      height: 35%; }
  .month .first-row .month__secondary {
    overflow: hidden; }
    .month .first-row .month__secondary__image {
      background: url("../img/jack-sm.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 65%; }
    .month .first-row .month__secondary p {
      height: 50%; }
.month .second-row {
  display: block; }
  .month .second-row::after {
    clear: both;
    content: "";
    display: table; }
  .month .second-row .month__other {
    margin-bottom: 1em; }
.month .third-row {
  display: block; }
  .month .third-row::after {
    clear: both;
    content: "";
    display: table; }
  .month .third-row .month__other {
    margin-bottom: 1em;
    border: 1px solid black; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: black;
  height: 100vh; }
  .sidebar:last-child {
    margin-right: 0; }

header img {
  width: 100%; }
header picture source {
  height: 0px; }
header a {
  color: black;
  font-weight: bold; }
  @media screen and (min-width: 1024px) {
    header a {
      font-size: 1.3; } }

ul {
  display: block; }
  ul::after {
    clear: both;
    content: "";
    display: table; }
  ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    ul li:last-child {
      margin-right: 0; }

footer {
  height: 125px;
  padding: 2em;
  border-top: 1px solid black;
  background-image: url("../img/milan-footer.png");
  background-size: 100% 100%; }
  footer a {
    color: black;
    font-size: 2em; }

/*# sourceMappingURL=main.css.map */
