
.page {
  width: 95%;
  margin: auto;
  max-width: 1200px;
}
.featured {
  @include e(header){
    @extend %section__header;
  }
  @include e(article){
    @extend %section__wrapper;
    @include e(image){
      margin-bottom: 1em;
      background: url("../img/jack.jpeg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      @extend %background-img;
      }
    @include e(text){

      }
    @include e(comment){
      margin-top: 1em;
      textarea {
        @include span-columns(12);
      }
      button {
        @include span-columns(2);
      }
    }
  }
}

.month {
  @include e(header){
    @extend %section__header;
  }
  @include e(content){
    @extend %section__wrapper;
  }
  .first-row {
    @include row();
    .month__primary {
      @extend %article--prim;
      @extend %background-img;
      overflow: hidden;
      @include e(image){
        margin-bottom: 1em;
        background: url("../img/jack.jpeg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 80%;
      }
    }
    .month__secondary {
      @extend %article--sec;
      @extend %background-img;
      overflow: hidden;
      @include e(image){
        margin-bottom: 1em;
        background: url("../img/jack-sm.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 50%;
      }
    }
  }
  .second-row {
    @include row();


    .month__other {
      @extend %article--oth;
    }
  }

}
